<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Jitter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<body>
    <button class="signin-button" margin="right"><a href='/sessions/new'>Sign In</a></button>
        <header><h1><a href="/" id="twitter-logo">A twitter rip-off</a></h1></header>
       
        <main>
            <form class="signup-form" action="/users" method="post">
                <label class="griditem1" for="username">Username:</label>
                  <input class="griditem2" type="input-text" id="username" name="username" placeholder="Username" required>
                <label class="griditem3" for="email">Email address:</label>
                  <input class="griditem4" type="input-text" id="email" name="email" placeholder="Email address" required>
                <label class="griditem5" for="firstname">First Name:</label>
                  <input class="griditem6" type="input-text" id="firstname" name="firstname" placeholder="First name" required>
                <label class="griditem7" for="lastname">Last Name:</label>
                  <input class="griditem8" type="input-text" id="lastname" name="lastname" placeholder="Last name" required>
                <label class="griditem9" for="birthday">Birthday:</label>
                  <input class="griditem10" type="date" id="birthday" name="birthday">
                <label class="griditem11" for="password">Password:</label>
                  <input class="griditem12" type="password" id="password" name="password" placeholder="password"> 
                <label class="griditem13" for="passwordcheck">Repeat password:</label>
                  <input class="griditem14" type="password" id="passwordcheck" placeholder="Repeat password">
                <label class="griditem15" for="checkbox">Show password</label>
                  <input class="griditem16" type="checkbox" id="display-password" onclick="showPassword()">
                <input class="input-button" id="submit" type="submit" value="submit">
                <script> function showPassword() {
                    const password = document.getElementById("password");
                    if (password.type === "password") {
                      password.type = "input-text";
                    } else {
                      password.type = "password";
                    }
                  }
                  function matchPassword() {
                    return document.getElementById("password") === document.getElementById("passwordcheck")
                  }
                </script>
            </form>
        </main>
        <script src="/index.js">
        </script>
    </body>
</html>