<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Jitter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head><header><a href="/" id="twitter-logo"><h1>Maniteams</a></h1></header>
            <header><h4><a href="/" id="byline">Keeping remote work social</a> </h4></header>
<body>
    <li class="index-options">
        <form action='/users/new' method='GET'>
          <input id="signup" class="button" margin="left" type="submit" value="Sign Up">
        </form>
        <form action='/sessions/new' method='GET'>
        <input id="signin" class="button" margin="right" type="submit" value="Sign In">
        </form>
    </li>

</body>
</html>