<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Jitter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../client/public/style.css">
    </head>
<body>
    <button margin="right"><a href='/sessions/new'>Sign In</a></button>
    <button margin="right"><a href='/users/new'>Sign Up</a></button>
        <header><h1><a href="/" id="twitter-logo">A twitter rip-off</a></h1></header>
       
        <main>
This is the home index page
        </main>
        </body>
        </html>