<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Twitter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header><h1>A twitter rip-off</h1></header>
        <main>
            <form class="create-tweet">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter name" required>
                <label for="">Tweet:</label>
                <textarea name="content" id="content" cols="30" rows="10" maxlength="140" placeholder="Tweet content here" required></textarea>
                <button>Send</button>
            </form>
        </main>
            <div class="tweet-container">
                <div class="tweet">
                    <h3>TestName</h3>
                    <div class="tweet-content">
                        <p>
                            This is a tester
                        </p>
                        <span class="date">30/11/2022</span>
                    </div>
                </div>
            
                <div class="tweet">
                    <h3>TestName</h3>
                    <div class="tweet-content">
                        <p>
                            This is a tester tweet. <span class="hashtag-link">#blessed</span>
                        </p>
                        <span class="date">30/11/2022</span>
                    </div>
                </div>
            
                <div class="tweet">
                    <h3>TestName</h3>
                    <div class="tweet-content">
                        <p>
                            This is a tester tweet. Wishing <span class='userlink'>@testuser2</span> were here!
                        </p>
                        <span class="date">30/11/2022</span>
                    </div>
                </div>
            </div>

        <script src="/index.js"></script>
    </body>
</html>