<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Twitter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header><h1>Maniteams</h1></header>
        <main>
            <form class="create-tweet" action="/tweets" method="post">
                <label for="">Post:</label>
                <textarea name="content" id="content" cols="30" rows="10" maxlength="140" placeholder="Post content here" required></textarea>
                <input type="hidden" id="user" value={{user._id}} />
                <input class="button" type="submit" value="send">
            </form>
        </main>
            <div class="tweet-container">
                {{#each tweets}}
                    <div class="tweet">
                        <h3>{{this.user.username}}</h3>
                        <div class="tweet-content">
                            <p>
                              {{this.content}}
                            </p>
                            <span class="date">{{this.createdAt}}</span>
                        </div>
                    </div>
                {{/each}}
            </div>
        <script src="/index.js"></script>
    </body>
</html>