<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Jitter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../client/public/style.css">
    </head>
<body>
    <button margin="right"><a href="/users/new">Sign Up</a></button>
        <header><h1><a href="/" id="twitter-logo">A twitter rip-off</a></h1></header>
       
        <main>
            
            <form class="login-form" action="/sessions" method="post">
                <label for="username">Username or email:</label>
                <input type="text" id="username" name="username" placeholder="Username or Email" required>

                <label for="password">Password:</label>
                <input type="text" id="password" placeholder="password"> 
                <br><br>
                <input type="checkbox" id="display-password" onclick="showPassword()">Show password
<input class='input-button' id="submit" type="submit" value="submit">
                <script> function showPassword() {
                    const password = document.getElementById("password");
                    if (password.type === "password") {
                      password.type = "text";
                    } else {
                      password.type = "password";
                    }
                  }
                </script>
                
            </form>
            
        </main>
        
        <script src="../../client/public/index.js">
        </script>
        
    </body>
</html>